@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0; }
body,h1,h2,h3,h4,h5,h6,p,div,ul,ol,li,dt,dd,dl,i,em,strong,b,form{ font-size:12px; font-family:Verdana, Geneva, sans-serif 'Microsoft Yahei';}
ul,ol,dl{ list-style:none;}
a{ color:#000; text-decoration:none;}
a img{ border:0;vertical-align:top;}
i,em{ font-style:normal;}
b,strong{ font-weight:normal;}
input,textarea{ outline:none; outline:none; resize:none;}
.fl{ float:left;display:inline;}
.fr{ float:right;display:inline;}
.por{ position:relative;}
.clearFix:after{ display:block; content:''; clear:both;}
.clearFix{ zoom:1;}



.b_top{width:100%;height:30px;border-bottom:1px solid #eeeeee;}
.top{width:1200px;height:30px;margin:0 auto;position:relative;}
.top_u{width:916px;height:30px;padding-left:300px;}
.top_u li{height:30px;line-height:30px;padding-left:18px;display:inline-block;}
.top_u .weixin{width:16px;height:16px;float:left;background:url(../images/a1.png) no-repeat;margin-top:6px;padding-right:6px;}
.top_u .weixinwz{display:block;float:left;font-size:12px;color:#666666;height:20px;border-right:1px dotted #cccccc;padding-right:16px;line-height:20px;margin-top:5px;}
.top_u .QQ{width:16px;height:16px;float:left;background:url(../images/a2.png) no-repeat;margin-top:6px;padding-right:6px;}
.top_u .gwc{width:18px;height:16px;float:left;background:url(../images/a3.png) no-repeat;margin-top:6px;padding-right:6px;}
.top_u .hdm:hover{color:#fff;}
.top_u .hdm{float:left;display:inline-block;position:relative;background:url(../images/center.png) repeat-x;height:15px;padding-left:5px;padding-right:5px;line-height:15px;text-align:center;text-decoration:none;color:#fff;margin-top:2px;}
.top_u .hdm_left{width:4px;height:15px;position:absolute;top:0;left:0;background:url(../images/center.png) no-repeat;}
.top_u .hdm_right{width:4px;height:15px;position:absolute;top:0;right:0;background:url(../images/center.png) no-repeat;}
.top_u .weixinwz1{display:block;float:left;font-size:12px;color:#666666;height:20px;padding-right:4px;line-height:20px;margin-top:5px;}
.top_u .hdma{float:left;height:20px;border-right:1px dotted #cccccc;padding-right:16px;margin-top:5px;}
.top_u .wddd{width:13px;height:15px;float:left;background:url(../images/a4.png) no-repeat;margin-top:6px;padding-right:6px;}
.top_u .wddd1{width:18px;height:15px;float:left;background:url(../images/a5.png) no-repeat;margin-top:6px;padding-right:6px;}
.top_u .wddd2{width:10px;height:16px;float:left;background:url(../images/a6.png) no-repeat;margin-top:6px;padding-right:6px;}
.top_u .xz{width:5px;height:3px;float:left;background:url(../images/a7.png) no-repeat;margin-top:8px;padding-right:6px;}
.top_u .xz1{float:left;height:20px;border-right:1px dotted #cccccc;padding-right:16px;margin-top:5px;}
.top_u a:hover{color:#ff6699;}
.xzapp{position:absolute;top:30px;right:77px;width:200px;background:#fff;border:1px #eee solid;height:100px;display:none;}
.xzapp img{width:100px;height:100px;float:left;}
.xzapp a{display:block;height:100px;line-height:100px;float:left;text-align:center;padding-left:20px;}



.b_logo{width:100%;height:120px;}
.logo{width:1200px;height:120px;margin:0 auto;}
.logo .logo_mls{float:left;display:inline-block;width:117px;height:43px;background:url(../images/logo.png) no-repeat;margin-top:40px;}
.logo .logo_gif{float:left;display:inline-block;width:120px;height:42px;margin-top:40px;margin-left:15px;}
.logo .ss{float:left;width:520px;height:80px;margin-left:108px;margin-top:21px;}
.logo .ss1{float:left;width:520px;height:24px;}
.logo .ss1 a{float:left;display:block;width:56px;height:24px;background:#xpjxxpjxxpjx;text-align:center;line-height:24px;color:#666666;font-size:12px;}
.logo .ss1 a.ss2{background:#ff6699;color:#fff;}
.logo .input{float:left;width:520px;height:32px;}
.logo .input1{float:left;width:445px;height:28px;border:2px solid #ff6699;}
.logo .input1 input{float:left;width:440px;height:28px;border:none;display:none;padding-left:5px;}
.logo .input1 input.input2{display:block;}
.logo .b_ss{float:left;width:70px;height:32px;background:#ff6699;}
.logo .b_ss img{margin-top:8px;margin-left:27px;}
.logo .ul{float:left;width:520px;height:43px;}
.logo .ul li{width:520px;height:43px;line-height:43px;}
.logo .ul li a{display:block;float:left;padding-right:9px;color:#666666;font-size:12px;}
.logo .ul li a:hover{color:#ff6699;}
.logo .ul li a.ys{color:#ff6699;}
.logo .kdl{float:left;margin-top:12px;margin-left:160px;}



.b_nav{width:100%;height:49px;border-bottom:1px solid #ff6699;top:0;left:0;z-index:100;background:#fff;}
.b_nav2{width:100%;height:49px;background:#fff;display:none;}
.nav{width:1200px;height:49px;margin:0 auto;position:relative;}
.navs{float:left;width:1200px;height:49px;line-height:49px;margin:0 auto;}
.navs li{display:inline-block;width:auto;text-align:center;}
.navs li a{display:inline-block;padding:0 15px;font-size:14px;height:49px;font-weight:bold;color: #333;margin-right:12px;}
.navs li a.navs1{height:47px;color:#FF6699;border-bottom:2px solid #ff6699;}
.navs li a:hover{height:47px;color:#FF6699;border-bottom:2px solid #ff6699;}
.navs li a.gd:hover{border-bottom:none;}
.navs li .xia{display:inline-block;width:5px;height:3px;background:url(../images/a7.png) no-repeat;margin-bottom:5px;margin-left:13px;}
.navs .xl{position:absolute;top:49px;left:560px;width:122px;height:211px;background:#fff;display:none;z-index:101;}
.navs .xl li{float:left;width:100%;height:30px;line-height:30px;}
.navs .xl li a{display:block;padding:5px 0px;height:20px;line-height:20px;width:100%;text-align:center;}
.navs .xl li a:hover{background:#eeeeee;color:#ff6699;border:none;}







.b_main{width:100%;height:574px;}
.main{width:1200px;height:574px;margin:0 auto;}
.list{float:left;width:238px;height:572px;border:1px solid #e6e6e6;background:url(../images/list.png) no-repeat;}
.list li{width:238px;height:114px;position:relative;}
.list li .liebiao{width:198px;height:114px;border-bottom:1px dotted #cccccc;margin-left:20px;}
.list li .liebiao1{width:198px;height:114px;border-bottom:none;margin-left:20px;}
.list .list_xs{border-bottom:none;}
.list .list1{float:left;width:px;height:572px;}
.list .list1 .mrjx{display:inline-block;font-size:15px;color:#ff6699;padding-top:12px;font-weight:bold;width:198px;}
.list .list1 a{display:inline-block;padding-right:10px;padding-top:9px;color:#666666;font-size:12px;}
.list .list1 a:hover{color:#ff6699;}
.list .list1 a.list-color{color:#ff6699;}
.list .xianshi{ width:250px; height:116px; position:absolute; top:-1px; left:238px;background:#fff;border:1px solid #ccc;border-left:none;line-height:115px;text-align:center;font-size:36px;display:none;z-index:5;}
.list_right{float:right;width:960px;height:574px;overflow:hidden;}
.banner{float:left;width:960px;height:419px;position:relative;}
.banner a{display:none;}
.banner .show{display:block;}
.banner .dian{position:absolute;bottom:20px;left:420px;}
.banner span{display:inline-block;height:10px;width:10px;background:#fff;border-radius:50%;margin-left:25px;}
.banner .active{height:12px;width:12px;border:3px solid #fff;background:none;margin-bottom:-4px;}
.banner .ban_left{position:absolute;left:0;top:180px;display:none;}
.banner .ban_right{position:absolute;right:0;top:180px;display:none;}
.tiao{float:left;width:960px;height:154px;border-top:1px solid #ssmzssmzssmz;}
.tiao a{display:block;float:left;margin:9px 0 0 10px;}



.zzlx{ width:1200px; height:260px; margin:40px auto; }
.zzlx-top{ width:1200px; height:20px;}
.zzlx-top h3{ font-size:14px; padding-left:5px; color:#66667d; float:left;}
.zzlx-top p{ float:left; padding-left:5px; color:#999999; padding-top:3px; float:left; }
.zzlx-top span{ width:1005px; height:20px; float:right; border-bottom:1px solid #ededed;}
.zzlx-bottom{ width:1200px; height:221px; margin-top:18px;}
.zzlx-bottom img{ width:200px; height:221px; float:left;}
.zzlx-top span a{ display:block; float:right; color:#666666; width:65px; height:18px; background:url(../images/b1.png); line-height:18px;}




.xpjx{width:1200px; height:872px; margin:0 auto; }
.xpjx ul{ width:225px; height:397px; float:left; margin-right:15px; margin-bottom:40px;}
.xpjx ul li img{ width:225px; height:341px;}
.xpjx ul>li.month{ width:225px; height:40px;  clear:both;}
.xpjx ul>li.month a,.ssmz-bottom ul>li.month a{ font-size:16px; color:#ff6699; font-weight:bold; line-height:40px; floar:left;}
.xpjx ul>li.month span{ display:block; float:right; line-height:50px; color:#b2b2b2; background:url(../images/b2.png)no-repeat; width:40px; height:40px; text-align:center;padding-left:3px;}
.xpjx ul>li.jieshao a{ color:#666666;}
.xpjx ul>li.jieshao a:hover{color:#ff6699;}
.xpjx ul.m-none{ margin-right:none;}




.ssmz{width:1200px;height:569px;margin-top:40px;margin:0 auto;}
.ssmz .ssmz_nr{width:1220px;height:528px;margin-left:-20px;margin-top:60px;}
.ssmz .ssmz_nr ._nr1{width:386px;height:528px;margin-left:20px;float:left;}
.ssmz .ssmz_nr ._nr1 ._nr1Img_1{display:block;width:386px;height:389px;}
.ssmz .ssmz_nr ._nr1 ._nr1Img_1 img{width:100%;height:100%;}
.ssmz .ssmz_nr ._nr1 .desc{width:386px;height:124px;margin-top:15px;line-height:24px;color: #666;}
.ssmz .ssmz_nr ._nr1 .desc .price{font-size:18px;font-style: normal;color:#f69;line-height: 24px;}
.ssmz .ssmz_nr ._nr1 .desc .opr_price{display: inline-block;padding-left: 25px;    text-decoration: line-through;color: #999;line-height: 24px;}
.ssmz .ssmz_nr ._nr1 .desc .ysfl{display:block;width:200px;font-size:14px;color:666666;}
.ssmz .ssmz_nr ._nr1 .desc .ysfl:hover{color:#ff6699;}
.ssmz .ssmz_nr ._nr1 .desc .subtit{line-height: 24px;font-size:12px;font-family:Arial;color:#999;width:386px;height:50px;overflow:hidden;}
.ssmz .ssmz_nr ._nr1 .desc .tag{display: inline-block;width: 346px;height:24px;line-height: 24px;padding-left: 40px;background:url(../images/xbt.png) no-repeat 0 1px ;}

.ssmz .ssmz_nr ._nr1 .desc .tag a{padding-right: 10px;color: #f69;}



.hifan{width:1200px;height:310px;margin:40px auto; }
.hf_1{width:1200px;height:61px;}
.hf_2{width:288px;height:61px;margin:0 auto;line-height:61px;}
.hf_2 a{display:block;float:left;height:40px;padding:0 1px;margin-right:32px;font-size:15px;color:#666666;}
.hf_2 a.hf_3{margin-right:0px;}
.hf_2 a.hf_xhx{border-bottom:2px solid #ff6699;color:#ff6699;}
.hf_4{width:1200px;height:230px;}
.hf_4 span{display:inline-block;display:none;}
.hf_4 span p{float:left;margin-right:21px;}
.hf_4 span p.hf_41{margin-right:0px;}
.hf_4 span.hf_5{display:block;}

.hdtj{width:1200px;height:500px;margin:40px auto;}
.hdtj_1{width:1200px;height:61px;}
.hdtj_2{width:497px;height:61px;margin:0 auto;line-height:61px;}
.hdtj_2 a{display:block;float:left;height:40px;padding:0 1px;margin-right:32px;font-size:15px;color:#666666;}
.hdtj_2 a.hdtj_3{margin-right:0px;}
.hdtj_2 a.hdtj_xhx{border-bottom:2px solid #ff6699;color:#ff6699;}
.hdtj_4{width:1200px;height:420px;}
.hdtj_4 span{display:inline-block;display:none;}
.hdtj_4 span.hdtj_a{display:block;}
.hdtj_4 span p{float:left;margin-right:21px;width:386px;height:420px;}
.hdtj_4 span p.hdtj_5{display:block;float:left;width:386px;height:333px;}
.hdtj_6{display:block;float:left;width:386px;font-size:20px;color:#666666;margin-top:20px;text-align:center;}
.hdtj_6:hover{color:#ff6699;}
.hdtj_7{display:block;float:left;width:386px;font-size:12px;color:#999999;margin-top:5px;text-align:center;}
.hdtj_8{display:block;float:left;width:386px;font-size:12px;color:#666666;margin-top:5px;text-align:center;}
.hdtj_8 em{color:#ff6699;}
.hdtj_4 span p.hdtj_t{margin-right:0px;}



.xdjd{width:1200px;height:378px;margin:40px auto;}
.xdjd_1{width:1200px;height:340px;margin-top:20px;}
.xdjd_1 p{float:left;margin-right:20px;}
.xdjd_1 p.xdjd_2{margin-right:0px;}



/*底部*/
.bottom{float:left;width:100%;height:311px;border-top:1px solid #e6e6e6;background:#f5f5f5;margin-top:20px;}
._bottom{width:1200px;height:311px;margin:0 auto;}
.bottom_o{float:left;width:1200px;height:210px;}
.o_{float:left;width:196px;height:66px;margin-top:33px;margin-left:11px;}
.bottom_img{float:left;width:34px;height:66px;margin-right:12px;}
.bottom_w{float:left;width:150px;height:18px;}
.bottom_w a{font-size:15px;color:#666666;font-weight:bold;}
.bottom_l{float:left;width:150px;height:28px;line-height:28px;}
.bottom_l a{font-size:14px;color:#666666;}
.bottom_z{float:left;width:150px;height:13px;padding-top:7px;}
.bottom_z a{font-size:12px;color:#666666;}

.xia_o{float:left;width:66px;height:128px;margin-top:30px;padding-left:44px;}
.xia_t{float:left;width:66px;height:160px;margin-top:30px;padding-left:56px;}
.xia_ml{float:left;width:136px;height:160px;margin-top:30px;padding-left:56px;}
.xia_y{float:left;width:66px;height:29px;}
.xia_y a{color:#666666;font-size:15px;font-weight:bold;}
.xia_x{float:left;width:66px;height:26px;line-height:26px;}
.xia_x a{color:#666666;font-size:12px;}
.xia_x a:hover{color:#ff6699;}
.xia_tx{float:left;width:66px;height:26px;line-height:26px;}
.xia_tx img{float:left;width:18px;}
.xia_tx a{float:left;display:block;width:48px;color:#666666;font-size:12px;}
.xia_tx a:hover{color:#ff6699;}
.xia_mls{float:left;width:136px;height:29px;}
.xia_mls a{color:#666666;font-size:15px;font-weight:bold;}
.xia_mlt{float:left;height:122px;width:134px;}

.xia_right{float:right;width:146px;height:131px;margin-top:30px;}
.xia_tig{float:left;width:136px;height:29px;}
.xia_tig a{color:#666666;font-size:15px;font-weight:bold;}
.xia_ri{float:left;height:146px;height:103px;}

.dz{float:left;width:1199px;height:30px;border:1px solid #e6e6e6;border-left:none;border-right:none;margin-left:10px;}
.dzsj{float:left;margin-left:10px;height:30px;line-height:30px;}
.dzsj a{color:#666666;font-size:12px;}
.dzs{float:left;margin-left:10px;height:30px;line-height:30px;}
.dzs a{color:#666666;font-size:12px;}
.dzs a:hover{color:#ff6699;}

.bq{float:left;width:1199px;height:69px;margin-left:10px;}
.bq ul{float:left;width:1199px;height:59px;margin-top:10px;}
.bq ul li{height:22px;line-height:22px;}
.bq ul li a{color:#666666;font-szie:12px;}
.bq ul li a.bgq{color:#666666;font-szie:12px;}
.bq ul li a.bgq:hover{color:#ff6699;}

